*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
*.tmp
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db
.agignore
node_modules/
tmp/
coverage/
.env
.bundle/
public/
.eslintcache
test-results.xml
.yarnclean
.npm-debug.log
