// base colors
$white:                  #FFF !default;
$white-smoke:             #F5F5F5 !default;

// border radius sizes
$border-radius:          6px !default;
$border-radius-lg:       8px !default;
$border-radius-sm:       4px !default;


@font-face {
	font-family: ClanOT-Medium;
	src: url(/assets/fonts/ClanOT-Medium.ttf);
}